services:
  mongodb:
    image: mongo:7.0
    container_name: spajzka-mongodb
    environment:
      - MONGO_INITDB_DATABASE=spajzka
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_USERNAME:-admin}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASSWORD:-password}
    volumes:
      - mongodb_data:/data/db
    networks:
      - spajzka-network
    restart: unless-stopped
    ports: 
      - "27018:27017"

  mongodb-init:
    build:
      context: ./db
      dockerfile: Dockerfile.init
    container_name: spajzka-mongodb-init
    depends_on:
      - mongodb
    environment:
      - MONGO_URL=mongodb://${MONGO_USERNAME:-admin}:${MONGO_PASSWORD:-password}@mongodb:27017
      - DB_NAME=spajzka
      - NODE_ENV=production
    networks:
      - spajzka-network
    restart: "no"

  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: spajzka-api
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
      - MONGO_URL=mongodb://${MONGO_USERNAME:-admin}:${MONGO_PASSWORD:-password}@mongodb:27017
      - DB_NAME=spajzka
    depends_on:
      mongodb:
        condition: service_started
      mongodb-init:
        condition: service_completed_successfully
    networks:
      - spajzka-network
    restart: unless-stopped

  web:
    build:
      context: ./web
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    container_name: spajzka-web
    depends_on:
      - api
    networks:
      - spajzka-network
    restart: unless-stopped

volumes:
  mongodb_data:

networks:
  spajzka-network:
    driver: bridge
