.searchbar {
    width: 100%;
    padding: 0%;
    padding-top: 0;
}

.searchbar-input {
    width: 100%;
    padding: 1.5%;
    border-radius: 5px;
    border: solid 1px white;
    background-color: rgba(255, 255, 255, 1);
    color: rgb(46, 46, 46);
    font-size: 1em;
}

.searchbar-input:focus {
    border: solid 1px aquamarine;
}

.searchContainer{
    width: 100%;
    padding: 0%;
    margin: auto;
}

.gridContainer {
    display: grid;
    /* border: 5px black; */
    width: 100%;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 10px;
    padding-right: 0;
    padding-left: 0;
    /* border-top: 2px grey solid; */
    align-items: center;
}

.gridContainer-head {
    display: grid;
    /* border: 5px black; */
    width: 100%;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 10px;
    /* border-top: 2px grey solid; */
    align-items: center;
    padding-right: 0;
    padding-left: 0;
    /* .gridContainer; */

    font-weight: bold;
    /* border-top: 0px; */
}

.gridContainer-separator {
    border: 1px rgba(128, 128, 128, 0.316) solid;
}

.amountButtonsContainer {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    width: 100%;
    padding-left: 1.5em;
    margin: 0;
    justify-content: center;
}

.amountButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    overflow: hidden;
}
.amountCount{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

@media only screen and (max-width: 480px) {
    .searchbar-input {
        padding: 5%;
    }
}